.ProblemBarContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2%;
}

div.ProblemBarContainer a{
    text-decoration: none;
    color: black;
    color: rgba(24, 160, 251, 1);
    font-family: Poppins;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

