/* .problem{
    position: fixed;
} */
.ProblemBarContainer {
    width: 100%;
    margin-right: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position:fixed;
    Margin-top: 2%;
    margin-left: 7%;
    background-color: rgb(219 206 206 / 30%);
}

div.ProblemBarContainer a{
    text-decoration: none;
    color: black;
    color: rgba(24, 160, 251, 1);
    font-family: Poppins;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

