.homebox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    background-color: #dfd5e4;
}

.home1{
    background-color: rgb(205 195 214);
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 34px;
    margin-top: 3%;
}

.home1p{
    font-style: italic;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 43px;
    line-height: 77px;
}

.home2{
    background-image: url('../../../../Umeed/public/images/homeimg1.jpg');
    width: 70vw;
    display: block;
    background-size: cover;
    height: 472px;
    margin-top: 1%;
}

.home3{

}